body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  background-image: url('https://source.unsplash.com/bWtd1ZyEy6w');
  background-size: cover;
  text-align: center;
}

/* HEADING 1 PROPERTIES: PAGE TITLE */
h1#title {
  text-align: center;
  color: aquamarine;
  border: 2px solid white;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  margin: 10;
}

/* FORM PROPERTIES: FLEXBOX ITEM */
form#cityQuery {
  display: inline-flex;
  border: 2px solid white;
  flex-direction: column;

  color: white;
  padding: 20px;
  border-radius: 5px;
}

form#cityQuery > label {
  margin: 10px;
  text-align: left;
  font-size: 1.45em;
  color: aquamarine;
}

input#searchByCityName {
  margin: 10px;
  font-size: 1.45em;
}

form#cityQuery input[type=submit] {
  margin: 10px;
  font-size: 1.45em;
  background-color: aquamarine;
}


.container {
  display: inline-flex;
  border: 2px solid aquamarine;
  flex-direction: column;

  color: white;
  padding: 20px;
  border-radius: 5px;

  width: 273px;
  margin-top: 20px;
}

.item-1 {
  margin: 10px;
  font-size: 1.45em;
  background-color: #343434;
  color: white;
  text-align: left;
  padding: 5px;
  border-radius: 5px;
}

.item-2 {
  margin: 10px;
  background-color: #36454F;
  /* border: 1px solid white; */
  border-radius: 5px;
  color: white;
  text-align: left;
  padding: 5px;
}